<div class="elevated-card-container primary-card-container-height">
    <div class="header-and-actions">
        <h1 i18n>Schedule</h1>
        <div class="actions">
            <mat-button-toggle-group (change)="onViewChange($event)">
                <mat-button-toggle value="calendar">Calendar</mat-button-toggle>
                <mat-button-toggle value="list">List</mat-button-toggle>
            </mat-button-toggle-group>
            <input type="date" matInput required placeholder="Start Date" required name="schedule-start-date" [value]="formatDateString(startDate.toString())">
            <input type="date" matInput required placeholder="End Date" required name="schedule-end-date" [value]="formatDateString(endDate.toString())">
            <button *ngIf="isCurrentUserEntityOwner" mat-fab extended color="primary" (click)="onCreateSchedule()">
                <mat-icon>build</mat-icon>
                <span i18n>Create Schedule</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="elevated-card-container-content">
        <div>
            <!-- *ngSwitchCase="CalendarView.Month" -->
            <mwl-calendar-month-view *ngIf="isCalendarView"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="showEvent($event)"
                (dayClicked)="dayClicked($event)"
            >
            </mwl-calendar-month-view>

            
            <div style="overflow-x: auto;">
                <table id="schedule-list" mat-table [dataSource]="scheduleList" class="mat-elevation-z8" *ngIf="isListView">
                
                <ng-container *ngFor="let column of calendarListColumns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef> {{ column  }} </th>
                    <td mat-cell *matCellDef="let element" [ngStyle]="getCellStyle(column, element[column])">
                        {{ element[column]?.alias || element[column] }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="calendarListColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: calendarListColumns;"></tr>
            </table>

            </div>
            
        </div>
    </div>
</div>
