.header-and-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-between;
    gap: 10px;
}


#schedule-list {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 1490px;
    max-height: 750px;
}

.date-field{
    width: 150px;
    margin-top: 25px;
}