.header-and-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-between;
    gap: 10px;
}


#schedule-list {
    flex: 1;
    display: block;               /* Force block for proper scrolling */
    max-height: 650px;             /* Take only the available space in dashboard-content */
    overflow-x: auto;             /* Scroll horizontally if grid too wide */
    overflow-y: auto;             /* Scroll vertically if grid too tall */
    background: #fff;             /* Keep it clean */
    border-radius: 6px;
    
}

.date-field{
    width: 150px;
    margin-top: 25px;
}

.elevated-card-container{
    max-width: 84.5%;
}