#shift-rotation-dialog{
    padding: 20px;
}

.actions {
    background-color: transparent;
    padding-top: 20px;
    display: flex;
    column-gap: 10px;
}

#leave-duration-slider{
    width: 100%;
}

#duration-label{
    display: flex;
    justify-content: center;
}