<!--<loading-screen></loading-screen>-->
<div class="container">
    <h1>New Work Entity</h1>
    <div class="elevated-card-container">
        <form>
            <div class="div-spacer">
                <mat-form-field appearance="outline">
                    <mat-label>Entity Name</mat-label>
                    <input matInput placeholder="Insert name here" [(ngModel)]="entityNameInput" [ngModelOptions]="{standalone: true}">
                    <mat-hint>Minimum of 3 characters</mat-hint>
                </mat-form-field>
            </div>
            
            <div class="div-spacer">
                <mat-form-field appearance="outline"> 
                    <mat-label>Entity Type</mat-label>
                    <mat-select [(ngModel)]="selectedEntityType" name="entityType" [ngModelOptions]="{ standalone: true }">
                        <mat-option *ngFor="let entityType of entityTypes" [value]="entityType">{{entityType.entityTypeLocalizedName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="div-spacer">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="8" [(ngModel)]="entityDescriptionInput" [ngModelOptions]="{standalone: true}" placeholder="Describe the entity so it others may know more about what services it provides."></textarea>
                </mat-form-field>
            </div>
            
            <button class="mat-dialog-action-button" color="primary" mat-raised-button cdkFocusInitial (click)="onCreateEntitySubmit()">Create</button>
        </form>
    </div>
</div>
