<div id="side-bar">
    <div class="logo">
        <img src="https://placehold.co/260x100" alt="Logo">
    </div>
    <div class="separator"></div>
    <div class="menu">
        <sidebar-item [sidebarItemText]="'Dashboard'" [sidebarItemRouterLink]="'dashboard'" [sidebarItemIcon]="DASHBOARD_HOME"></sidebar-item>
        <sidebar-item [sidebarItemText]="'Profile'" [sidebarItemRouterLink]="'profile'" [sidebarItemIcon]="PERSON"></sidebar-item>
        <sidebar-item-group [sidebarItemGroupText]="'Work Entities'" [sidebarItemGroupIcon]="BUILDING" [sidebarGroupItems]="workEntitiesSideBarItems"></sidebar-item-group>
        <sidebar-item [sidebarItemText]="'Logout'" [sidebarItemRouterLink]="''" [sidebarItemIcon]="LOGOUT"></sidebar-item>
    </div>
</div>

