#side-bar{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    width: 260px;
    padding: 20px;
}

#side-bar .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

#menu-entities-container{
    flex-grow: 1;
}

#menu-bottom-options{
    justify-content: flex-end;
}