<div class="entity-worker-member-item">
    <div class="elevated-card-container">
        <img src="https://placehold.co/150x150" class="member-image">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{entityWorkerMember?.workerName}}</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-chip-set>
                <mat-chip  *ngFor="let skill of entityWorkerMember?.skillSet" [color]="skill.skillHexFontColor" [ngStyle]="{ 'background-color': skill.skillHexBGColor, '--mdc-chip-label-text-color': skill.skillHexFontColor}">{{skill.skillLocalizedName}}</mat-chip>
            </mat-chip-set>
        </mat-expansion-panel>
    </div>
</div>

