<div class="entity-worker-member-item">
    <div class="elevated-card-container">
        <img src="https://placehold.co/150x150" class="member-image">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>{{entityWorkerMember?.workerName}}</h4>
                    <mat-icon *ngIf="entityWorkerMember?.isOwner">stars</mat-icon>
                    <button *ngIf="allowActions" mat-icon-button color="primary" (click)="editWorker(entityWorkerMember)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="allowActions" mat-icon-button color="warn" (click)="removeWorker('5000','5000', entityWorkerMember, DELETE_MEMBER_TITLE, DELETE_MEMBER_CONTENT)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-chip-set>
                <mat-chip  *ngFor="let skill of entityWorkerMember?.skillSet" [color]="skill.skillHexFontColor" [ngStyle]="{ 'background-color': skill.skillHexBGColor, '--mdc-chip-label-text-color': skill.skillHexFontColor}">{{skill.skillLocalizedName}}</mat-chip>
            </mat-chip-set>
        </mat-expansion-panel>
    </div>
</div>

