<div class="elevated-card-container primary-card-container-height fade-in">
    <div class="header-and-actions">
        <h1 i18n>
            Profile
            <button mat-mini-fab class="mobile-menu-toggle" (click)="isMobileActionsOpen = !isMobileActionsOpen">
                <mat-icon>{{ isMobileActionsOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
        </h1>
        <div class="actions" [class.open]="isMobileActionsOpen">
            <button mat-fab extended class="edit-color-bg"(click)="toggleEditProfile()">
                <mat-icon>edit</mat-icon>
                <span i18n>Edit</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="elevated-card-container-content">
        <form>
            <!-- Name -->
            <div class="form-input-spacer">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Name</mat-label>
                    <input matInput placeholder="Name" name="display-name-input" [disabled]="!isEditing" [(ngModel)]="backupUser.userDisplayName" i18n-placeholder>
                </mat-form-field>
            </div>

            <!-- Gender -->
            <div class="form-input-spacer">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Gender</mat-label>
                    <mat-select [(ngModel)]="selectedGender" [disabled]="!isEditing" name="gender" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let gender of gendersLocalized" [value]="gender">{{gender.genderLocalizedName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Email -->
            <div class="form-input-spacer">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Email</mat-label>
                    <input matInput placeholder="Email" name="email-input" [disabled]="!isEditing" type="email" [(ngModel)]="backupUser.email" i18n-placeholder>
                </mat-form-field>
            </div>

            <div class="form-input-spacer end-form-actions" *ngIf="isEditing">
                <button class="action-submit-button secondary-color-bg" cdkFocusInitial (click)="saveProfile()">
                    <mat-icon>save</mat-icon>
                    <span i18n>Save</span>
                </button>
            </div>

        </form>
    </div>
</div>
    
