
    <div class="elevated-card-container primary-card-container-height">
        <div class="header-and-actions">
            <h1 i18n>Members</h1>
            <div class="actions" *ngIf="isCurrentUserEntityOwner">
                <button mat-fab extended class="edit-color-bg"(click)="openAddMemberDialog(UI_DIALOG_ENTRANCE_DURATION, UI_DIALOG_EXIT_DURATION, entityMembersViewModel.skills)">
                    <mat-icon>add</mat-icon>
                    <span i18n>Add Member</span>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="elevated-card-container-content">

            <!-- Filter Row -->
            <div class="row" id="filter-row"> 
                <button id="filter-btn" mat-fab extended class="secondary-color-bg" (click)="toggleFilters()">
                    <mat-icon>filter_list</mat-icon>
                    <span>Filters</span>
                </button>

                <mat-form-field *ngIf="isFilterActive" appearance="outline">
                    <mat-label i18n>Order Options</mat-label>
                    <mat-select > 
                        <mat-option value="name">Alphabetical Ascending</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="isFilterActive" appearance="outline">
                    <mat-label i18n>Worker Name</mat-label>
                    <input matInput placeholder="Worker Name" [(ngModel)]="nameFilter" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field *ngIf="isFilterActive" appearance="outline">
                    <mat-label i18n>Select Skill</mat-label>
                    <mat-select [(ngModel)]="selectedSkill">
                        <mat-option *ngFor="let skill of entityMembersViewModel.skills" [value]="skill">{{skill.skillLocalizedName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Entity Worker List -->
            <div id="entity-worker-list-container">
                <div class="entity-worker-list-item" *ngFor="let member of entityMembersViewModel.entityMembers">
                    <entity-worker-member-card [entityWorkerMember]="member" [allowActions]="isCurrentUserEntityOwner" (editWorkerTemplateEvent)="onEditMember($event)" (deleteWorkerTemplateEvent)="onDeleteMember($event)"></entity-worker-member-card>
                </div>
            </div>
        </div>
    </div>
