<div class="elevated-card-container primary-card-container-height fade-in">
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabSelected($event)">
        <mat-tab *ngFor="let entity of workEntities; let i = index"
           [label]="entity.entityName">
        <dashboard-tab-view
            [entityWorkerInstance]="entity"
            [loggedUser]="loggedUser"
            [active]="selectedTabIndex === i">
    </dashboard-tab-view>
  </mat-tab>
    </mat-tab-group>
</div>