<div id="worker-skill-selector-dialog">
    <h2>Add Skill</h2>
    <mat-dialog-content>
        <p i18n>Select a skill to add to the worker:</p>
        <mat-form-field appearance="fill">
            <mat-label>Skill</mat-label>
            <mat-select [(value)]="selectedSkill" (selectionChange)="onSkillSelected($event.value)">
                <mat-option value="" disabled>Select a skill</mat-option>
            <mat-option *ngFor="let skill of workerSkills" [value]="skill">{{ skill.skillLocalizedName }}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-fab extended class="secondary-color-bg flex-1" (click)="onCancel()">
            <mat-icon>{{CANCEL_ICON}}</mat-icon>
            <span i18n>Cancel</span>
        </button>
        <button mat-fab extended class="edit-color-bg flex-1" (click)="onAddSkill()">
            <mat-icon>{{ADD_ICON}}</mat-icon>
            <span i18n>Add Skill</span>
        </button>
    </mat-dialog-actions>
</div>

