#register-dialog {
  padding: 24px 0px;
}

mat-form-field {
  margin: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

button {
  border-radius: 15px;
}

.mat-dialog-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 24px;
}

.mat-dialog-action-button{
  flex: 1;
}
