
<div id="register-dialog">

<h1 mat-dialog-title i18n>Register</h1>

<form>
    <mat-dialog-content>
    
        <mat-form-field class="register-input">
            <input matInput placeholder="Name" [(ngModel)]="nameInput" [ngModelOptions]="{standalone: true}" i18n-placeholder required>
        </mat-form-field>
            
        <mat-form-field class="register-input">
            <mat-label i18n>Gender</mat-label>
            <mat-select [(ngModel)]="selectedGender" name="gender" [ngModelOptions]="{ standalone: true }">
                <mat-option *ngFor="let gender of gendersLocalized" [value]="gender">{{gender.genderLocalizedName}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="email" placeholder="Email" [(ngModel)]="emailInput" [ngModelOptions]="{standalone: true}" i18n-placeholder required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="passwordInput" [ngModelOptions]="{standalone: true}" i18n-placeholder required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPasswordInput" [ngModelOptions]="{standalone: true}" i18n-placeholder required>
        </mat-form-field>
    
</mat-dialog-content>


<mat-dialog-actions class="mat-dialog-actions">
  <button class="mat-dialog-action-button" mat-raised-button mat-dialog-close i18n>Cancel</button>
  <button class="mat-dialog-action-button" color="primary" mat-raised-button cdkFocusInitial (click)="onRegisterSubmit()" i18n>Register</button>
</mat-dialog-actions>
</form>
</div>