<footer class="container" id="footer-row">
  <div class="row">
    <span i18n>{{COMPANY_COPYRIGHT}}</span>
    <span i18n>{{NIF_PLACEHOLDER}}</span>
    <span i18n>{{ADDRESS_PLACEHOLDER}}</span>
    <span i18n>{{COMPANY_EMAIL}}</span>
    <span i18n>{{COMPANY_PHONE}}</span>
  </div>
  <div class="row">
    <nav>
        <a routerLink={{TERMS_CONDITIONS_ROUTE}}>Termos e Condições</a><br/>
        <a routerLink={{PRIVACY_POLICY_ROUTE}}>Política de Privacidade</a><br/>
        <a routerLink={{COOKIES_POLICY_ROUTE}}>Cookies</a><br/>
        <a routerLink={{CONTACTS_ROUTE}}>Contactos</a>
    </nav>
  </div>
</footer>
