#app-header{
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    flex-direction: row;
    align-items: center;
}

#app-header mat-form-field {
  width: 400px;
  margin: 0;
}

#app-header .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
  display: none !important;
}
