<div>
    <h1>Color Schemes</h1>
    <div class="row">
        <div class="color-box" style="background-color: #C03221;">
            <p>Primary</p>
        </div>
        <div class="color-box" style="background-color: #F7F7FF;">
            <p>Secondary</p>
        </div>
        <div class="color-box" style="background-color: #F2D0A4;">
            <p>Third</p>
        </div>
        <div class="color-box" style="background-color: #545E75;">
            <p>Fourth</p>
        </div>
        <div class="color-box" style="background-color: #3F826D;">
            <p>Fifth</p>
        </div>
    </div>
</div>
<div>
    <h3>Three colors for websites</h3>
    <p>A main (or primary) color, secondary color, and accent color. Then, use the 60/30/10 rule to apply these colors in your website design. According to this rule, 60% of the color used should be the main color, 30% the secondary color, and 10% the accent color.</p>
</div>

