<div>
    <h1>Color Schemes</h1>
    <div class="row">
        <div class="color-box" style="background-color: #C03221;">
            <p>Primary</p>
        </div>
        <div class="color-box" style="background-color: #F7F7FF;">
            <p>Secondary</p>
        </div>
        <div class="color-box" style="background-color: #F2D0A4;">
            <p>Third</p>
        </div>
        <div class="color-box" style="background-color: #545E75;">
            <p>Fourth</p>
        </div>
        <div class="color-box" style="background-color: #3F826D;">
            <p>Fifth</p>
        </div>
    </div>
</div>
<div>
    <h3>Three colors for websites</h3>
    <p>A main (or primary) color, secondary color, and accent color. Then, use the 60/30/10 rule to apply these colors in your website design. According to this rule, 60% of the color used should be the main color, 30% the secondary color, and 10% the accent color.</p>
</div>
<mat-divider></mat-divider>
<div style="height: 200px;">
    <div class="elevated-card-container full-height" style="flex: 1;">
        <div class="row">
            <h1>Button Tests</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" style="column-gap: 20px;">
                    <button mat-fab extended class="primary-color-bg">
                        <mat-icon>favorite</mat-icon>
                        Normal
                    </button>
                    <button mat-fab extended color="primary">
                        <mat-icon>favorite</mat-icon>
                        Primary
                    </button>
                    <button mat-fab extended color="accent">
                        <mat-icon>favorite</mat-icon>
                        Accent
                    </button>
                    <button mat-fab extended color="warn">
                        <mat-icon>favorite</mat-icon>
                        Warn
                    </button>
                    <button mat-fab extended class="fourth-color-bg">
                        <mat-icon>favorite</mat-icon>
                        Fourth
                    </button>
                    <button mat-fab extended class="edit-color-bg">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button class="stroked-button">Primary</button>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="full-height" id="input-collection-container">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput value="Google">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput value="">
        </mat-form-field>
    </div>
</div>
