.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.primary-color-bg{
    background-color: #C03221;
    color: white;
}

.fourth-color-bg{
    background-color: #545E75;
    color: white;
}

.color-box{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

#input-collection-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
}