<div class="elevated-card-container primary-card-container-height">
    <div class="header-and-actions">
        <h1 i18n>Rules</h1>
        <div class="actions" *ngIf="isCurrentUserEntityOwner">
            <button *ngIf="!isFormActive" mat-fab extended class="edit-color-bg" (click)="toggleForm(false)">
                <mat-icon>add</mat-icon>
                <span i18n>Add Rule</span>
            </button>
            <button *ngIf="isFormActive" mat-fab extended class="secondary-color-bg" (click)="toggleForm(false)">
                <mat-icon>close</mat-icon>
                <span i18n>Cancel</span>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
</div>
