<div id="add-child-entity-dialog">
    <h1 i18n>Add Child Entity</h1>
    <form>
        <!-- Name -->
        <mat-form-field appearance="outline">
            <mat-label i18n>Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="childEntityNameInput" [ngModelOptions]="{standalone: true}" i18n-placeholder>
        </mat-form-field>

        <!-- Type -->
        <mat-form-field appearance="outline">
            <mat-label i18n>Type</mat-label>
            <mat-select [(ngModel)]="selectedEntityType" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let entityType of entityTypes" [value]="entityType">{{entityType.entityTypeLocalizedName}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="outline">
            <mat-label i18n>Description</mat-label>
            <textarea matInput rows="5" placeholder="Description" [(ngModel)]="childEntityDescriptionInput" [ngModelOptions]="{standalone: true}" i18n-placeholder></textarea>
        </mat-form-field>
    </form>

    <div class="actions">
        <button mat-fab extended class="secondary-color-bg" [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
            <span i18n>Cancel</span>
        </button>
        <button mat-fab extended class="add-color-bg" (click)="createChildEntity()">
            <mat-icon>add</mat-icon>
            <span i18n>Create</span>
        </button>
    </div>
</div>
