#add-child-entity-dialog {
    padding: 20px 20px;
}

#add-child-entity-dialog mat-form-field {
    width: 100%;
}

.actions {
    display: flex;
    column-gap: 10px;
}

.actions button {
    flex: 1;
}
