<div id="add-member-dialog">
    <h1 i18n>Add Member</h1>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <!-- Send Invite -->
        <mat-tab label="Send Invite">
            <mat-divider></mat-divider>
            <div class="tab-content">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Email</mat-label>
                    <input matInput type="email" placeholder="Email" [(ngModel)]="emailInput" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </mat-tab>

        <!-- Create Profile -->
        <mat-tab label="Create Profile">
            <mat-divider></mat-divider>
            <div class="tab-content" >
                <mat-form-field appearance="outline" class="d-flex align-items-center justify-content-center"> 
                    <mat-label i18n>Name</mat-label>
                    <input matInput placeholder="Name" [(ngModel)]="memberNameInput" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>

    <form>
        <!-- Specify Skills -->
        <div id="specify-skills-checkbox">
            <mat-checkbox (change)="toggleSpecifySkills($event)">Assign Specific Skills</mat-checkbox>
        </div>

        <!-- Skill Selector -->
        <div class="row" *ngIf="specifySkills">
            <mat-form-field appearance="outline">
                <mat-label i18n>Skills</mat-label>
                <mat-select [(ngModel)]="selectedSkills" multiple name="skills-selector" [compareWith]="compareSkills">
                    <mat-option *ngFor="let skill of localizedSkills" [value]="skill">{{skill.skillLocalizedName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-auto d-flex align-items-center">
                <mat-label i18n>Part of Rotation</mat-label>
                <mat-checkbox [(ngModel)]="partOfRotation" (change)="onRotationChange($event)" name="rotation-value-bool"></mat-checkbox>
            </div>
        </div>
        <div class="row" *ngIf="!partOfRotation && selectedTabIndex != 0">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Shifts</mat-label>
                    <mat-select [(ngModel)]="selectedShifts" [compareWith]="compareShifts" multiple name="shifts-selector">
                        <mat-option *ngFor="let shift of entityShifts" [value]="shift">{{shift.shiftName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label i18n>Works on Weekdays</mat-label>
                <mat-checkbox [(ngModel)]="worksWeekDays" name="week-days-value-bool"></mat-checkbox>
            </div>
            <div class="col">
                <mat-label i18n>Works on Weekends</mat-label>
                <mat-checkbox [(ngModel)]="worksWeekends" name="week-ends-value-bool"></mat-checkbox>
            </div>
        </div>
    </form>

    <div class="actions">
        <button mat-fab extended class="secondary-color-bg" [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
            <span i18n>Cancel</span>
        </button>
        <button mat-fab extended class="add-color-bg" (click)="executeAction()">
            <mat-icon>{{executeActionIcon}}</mat-icon>
            <span i18n>{{executeActionText}}</span>
        </button>
    </div>
</div>