<div id="event-view-dialog">
    <mat-dialog-content>
        <ng-container *ngIf="scheduleEntries.length > 0">
            <!-- <ng-container *ngIf="scheduleEntries.length > 1">-->
                <mat-tab-group>
                    <div *ngFor="let entry of scheduleEntries">
                        <mat-tab label="{{ entry.shiftDTO.shiftName }}">
                            <schedule-event-view [scheduleEntry]="entry"></schedule-event-view>
                        </mat-tab>
                    </div>
                </mat-tab-group>
            <!--</ng-container>-->
        </ng-container>
        <ng-container *ngIf="scheduleEntries.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; height: 150px;">
                <p i18n style="margin: 0;">No schedule entries found.</p>
            </div>
        </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-fab extended class="secondary-color-bg flex-1" (click)="closeDialog()">
            <mat-icon>{{CANCEL_ICON}}</mat-icon>
            <span i18n>Close</span>
        </button>
    </mat-dialog-actions>
</div>
