.card-header{
    height: 46px;
    display: flex;
    align-items: center;
}

h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.shift-template-grid-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.shift-template-grid-card:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}