<div id="edit-member-dialog">
    <h1 i18n>Edit Member</h1>
    <form>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label i18n>Name</mat-label>
                <input matInput [readonly]="nameReadonly" placeholder="Name" [(ngModel)]="nameInput" name="worker-name">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label i18n>Skills</mat-label>
                <mat-select [(ngModel)]="selectedSkills"  [compareWith]="compareSkills" multiple name="skill-selector">
                    <mat-option *ngFor="let skill of localizedSkills" [value]="skill">{{skill.skillLocalizedName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-auto d-flex align-items-center">
                <mat-label i18n>Part of Rotation</mat-label>
                <mat-checkbox [(ngModel)]="partOfRotation" (change)="onRotationChange($event)" name="rotation-value-bool"></mat-checkbox>
            </div>
            <div class="col-auto d-flex">
                <mat-label i18n>Multiple Shifts Assignments</mat-label>
                <mat-checkbox [(ngModel)]="multipleShiftAssignments" name="multiple-shifts-value-bool"></mat-checkbox>
            </div>
        </div>
        <div class="row" *ngIf="!partOfRotation">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Shifts</mat-label>
                    <mat-select [(ngModel)]="selectedShifts" [compareWith]="compareShifts" multiple name="shifts-selector">
                        <mat-option *ngFor="let shift of entityShifts" [value]="shift">{{shift.shiftName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label i18n>Works on Weekdays</mat-label>
                <mat-checkbox [(ngModel)]="worksWeekDays" name="week-days-value-bool"></mat-checkbox>
            </div>
            <div class="col">
                <mat-label i18n>Works on Weekends</mat-label>
                <mat-checkbox [(ngModel)]="worksWeekends" name="week-ends-value-bool"></mat-checkbox>
            </div>
        </div>

        <!-- Permission Section (human members only) -->
        <ng-container *ngIf="!entityWorkerMember.isBot">
            <mat-divider style="margin: 16px 0"></mat-divider>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Role</mat-label>
                    <mat-select [(ngModel)]="entityPermissionRoleId" name="roleId">
                        <mat-option *ngFor="let role of roleOptions" [value]="role.entityPermissionRoleId">
                            {{ role.entityPermissionRoleDisplayValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-auto d-flex align-items-center" *ngIf="isManagerRole">
                    <mat-label i18n>Can Manage Children</mat-label>
                    <mat-checkbox [(ngModel)]="canManageChildren" name="canManageChildren"></mat-checkbox>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <mat-label i18n>Part of Roster</mat-label>
                    <mat-checkbox [(ngModel)]="partOfRoster" name="partOfRoster"></mat-checkbox>
                </div>
            </div>
        </ng-container>

        <!-- Exit Date (visible to GM for anyone, or Manager for Viewers/Bots) -->
        <ng-container *ngIf="canSetDateToExit">
            <mat-divider style="margin: 16px 0"></mat-divider>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label i18n>Exit Date</mat-label>
                    <input matInput [matDatepicker]="exitDatePicker" [(ngModel)]="dateToExitValue" [min]="today" name="exit-date">
                    <mat-datepicker-toggle matSuffix [for]="exitDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #exitDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </ng-container>

    </form>
    <div class="actions">
        <button mat-fab extended class="secondary-color-bg" [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
            <span i18n>Cancel</span>
        </button>
        <button mat-fab extended class="add-color-bg" (click)="editMember()">
            <mat-icon>{{executeActionIcon}}</mat-icon>
            <span i18n>{{executeActionText}}</span>
        </button>
    </div>
</div>

