<div id="login-view">
    <div class="container">
        <div class="col-sm d-flex justify-content-center">
            <mat-card id="login-card">
                <div class="row" id="login-logo">
                    <span class="logo-text">Shift<span class="logo-accent">Scheduler</span></span>
                </div>
                <form id="login-form">
                    <span i18n>Email</span>
                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>alternate_email</mat-icon>
                        <input matInput
                               type="email"
                               [(ngModel)]="email"
                               name="email"
                               [disabled]="isLoading"
                               (keyup.enter)="login()"
                               required>
                    </mat-form-field>

                    <span i18n>Password</span>
                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput
                               [type]="hidePassword ? 'password' : 'text'"
                               [(ngModel)]="password"
                               name="password"
                               [disabled]="isLoading"
                               (keyup.enter)="login()"
                               required>
                        <button mat-icon-button
                                matSuffix
                                type="button"
                                (click)="togglePasswordVisibility()"
                                [disabled]="isLoading">
                            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="row">
                        <a (click)="forgotPassword()" [class.disabled]="isLoading">
                            <span i18n>Forgot Password?</span>
                        </a>
                    </div>

                    <button id="login-button"
                            class="w-100"
                            [class.loading]="isLoading"
                            type="button"
                            (click)="login()"
                            [disabled]="isLoading">
                        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                        <span *ngIf="!isLoading" i18n>Sign in</span>
                        <span *ngIf="isLoading" i18n>Signing in...</span>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
