<div id="login-view">
    <mat-spinner id="loading-spinner" *ngIf="isLoading"></mat-spinner>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <mat-card id="login-card">
                    <div class="row" id="login-logo">
                        <img src="https://placehold.co/100x80" alt="Logo">
                    </div>
                    <div class="row">
                        <form id="login-form">
                            <mat-form-field>
                                <input matInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
                            </mat-form-field>
                            
                            <div class="row" id="login-spec-ops">
                                <div class="col">
                                    <mat-checkbox id="remember-checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">Remember me</mat-checkbox>
                                </div>
                                <div class="col" >
                                    <a id="forgot-password-container" routerLink="/forgot-password">Forgot Password
                                        <mat-icon id="forgot-password-icon">help</mat-icon>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <button mat-raised-button color="primary" (click)="login()">Login</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
