#login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #272727;
}

#login-card{
  width: 500px;
  height: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  opacity: 0.9;	
}

#login-logo{
  display: flex;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form mat-form-field {
  width: 80%;
}

#login-spec-ops {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

#remember-checkbox {
  margin-right: 10px;
}

#forgot-password-container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #272727;
  cursor: pointer;
}

#forgot-password-container mat-icon {
  margin-left: 5px;
}

#login-form button {
  width: 250px;
  margin-top: 20px;
}

#loading-spinner {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}