/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/*html, body { height: 100%; } */
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container{
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.elevated-card-container{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: var(--mdc-elevated-card-container-color);
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  box-shadow: var(--mdc-elevated-card-container-elevation);
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
}


.primary-card-container-height{
  height: calc(100vh - 60px);
} 

.elevated-card-container-content{
  padding: 20px 0px;
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.flex-1{
  flex: 1;
}

.col-gap{
  column-gap: 10px;
}

.primary-color-bg{
  background-color: #C03221 !important;
  color: white !important;
}

.secondary-color-bg{
  background-color: #545E75 !important;
  color: white !important;
}

.third-color-bg{
  background-color: #F7F7F7 !important;
  color: black !important;
}

.edit-color-bg{
  background-color: #33b249 !important;
  color: white !important;
}

.delete-color-bg{
  background-color: #d9534f !important;
  color: white !important;
}

mat-form-field{
  width: 100%;
}

.div-top-down-spacer{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* REQUIRED TO SHOW CLOCK FOR INPUT TYPE TIME */
input.mat-mdc-input-element::-webkit-calendar-picker-indicator {
  display: block;
}