#loading-screen {
    position: fixed;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear; /* Add transition effect for opacity */
}

#loading-screen.show {
    visibility: visible;
    opacity: 1;
}

#loading-spinner {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}